*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  text-align: center;
  background-image: url(./assetes/backgound2.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container{
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.562);
  height: 600px;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  border-radius: 5px;
}
.container h1{
  font-family: 'Delicious Handrawn', cursive;
  font-size: 2rem;
  font-weight: 700;
}
.container input{
  width: 80%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  background-color: rgba(240, 248, 255, 0.767);
}
.container button{
  display: inline-block;
  width: 50%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(2, 35, 63);
  color: #fff;
  cursor: pointer;
  position: relative;
  bottom: 58px;

}

.weather{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  height: 56%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  font-family: 'Oswald', sans-serif;

}
.weather span{
  color:  #fff700;;
}
.weather h2{
  font-size: larger;
  font-weight: 400;
  border-bottom: 2px solid #fff;
}
.weather h3{
  font-size: 25px;
  font-weight: 400;
  color: rgb(248, 241, 232);
}